name: CI Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare environment
        run: cp ./server/.env.ci ./server/.env

      - name: Build and Run Tests
        run: |
          docker compose -f docker-compose.dev.yml up --build --exit-code-from web